{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Informações do Produto</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h3 class="card-title">{{ object.title }}</h3>
                </li>
                <li class="list-group-item">
                    <p class="card-text">Categoria: <strong>{{ object.category }}</strong></p>
                </li>
                <li class="list-group-item">
                    <p class="card-text">Marca: <strong>{{ object.brand }}</strong></p>
                </li>
                <li class="list-group-item">
                    <p class="card-text">{{ object.description }}</p>
                </li>
                <li class="list-group-item">
                    <p class="card-text">Número de Série: <strong>{{ object.serie_number }}</strong></p>
                </li>
                <li class="list-group-item">
                    <p class="card-text">Preço de Custo: <strong>R$ {{ object.cost_price }}</strong></p>
                </li>
                <li class="list-group-item">
                    <p class="card-text">Preço de Venda: <strong>R$ {{ object.selling_price }}</strong></p>
                </li>
                <li class="list-group-item">
                    <p class="card-text">Quantidade em Estoque: <strong>{{ object.quantity }}</strong></p>
                </li>
            </ul>
        </div>
        <div class="container text-end">
              <div class="row justify-content-end">
                  <div class="col-4 p-0">
                      <a href="{% url 'product_list' %}" class="btn btn-outline-warning mt-3">Voltar para a lista de Produtos</a>
                  </div>
              </div>
        </div>
    </div>
{% endblock %}